name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
          dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build netstandard2.0 libraries
      run: |
        dotnet build src/TextMateSharp/TextMateSharp.csproj --no-restore
        dotnet build src/TextMateSharp.Grammars/TextMateSharp.Grammars.csproj --no-restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
